<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanted.breadcrumbs.mapper.BoardMapper">
  <insert id="insertBoard" parameterType="com.wanted.breadcrumbs.entity.Board">
    INSERT INTO board (title, description, parent_id, sub_board_list_ids)
    VALUES (#{title}, #{description}, #{parentId}, #{subBoardListIds, typeHandler=org.apache.ibatis.type.ArrayTypeHandler})
  </insert>

  <select id="getBoardById" parameterType="java.lang.Long" resultType="com.wanted.breadcrumbs.entity.Board">
    SELECT * FROM board WHERE id = #{id}
  </select>

</mapper>
